# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

*.Rproj

*.DCT

*.DO

*.DTA

*.FRQ

*.FRW

*.MAP

*.DOC

*.CPG

Datain/RW_2014-15_DHS/rwge71fl/GPS_Displacement_README.txt

Datain/RW_2014-15_DHS/rwge71fl/DHS_README.txt

*.dbf

*.prj

*.sbn

*.sbx

*.shp

Datain/RW_2014-15_DHS/rwge71fl/RWGE71FL.shp.xml

*.shx


